@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font: "Roboto", sans-serif;
    --secondary-color: #d3E3FD;
}

body{
    font-family: var(--font);
    background-color: #F2F2F2;
}

h1{
    text-align: center;
    color: #666666;
}

main{
    width: 70%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;
}

section{
    background-color: #CCCCCC;
    padding: 25px;
    margin: 30px 0;
    border-radius: 8px;
    box-shadow: 10px 10px 15px #00000025;
}
